DATABASE_URL=postgresql://usuario:password@ep-xxxx.neon.tech/neondb?sslmode=require
JWT_SECRET=una_clave_secreta_larga_y_segura_aqui
PORT=3001
NODE_ENV=development
ADMIN_EMAIL=admin@tucorreo.com
FRONTEND_URL=https://cine-psi-lilac.vercel.app
GMAIL_USER=camilojc1725@gmail.com
GMAIL_PASS=jfet qepa wghh hmbc